.profileContainer {
  min-height: 336px;
}

.profileData {
  width: 400px;
}

.profileBackground {
  text-align: center;
}

.blockie {
  position: absolute;
  bottom: -1rem;
  right: -1rem;
  z-index: 20;
  height: 38px;
  width: 38px;
  right: 8rem;
  bottom: -1.7rem;
}

.profileImage {
  text-align: center;
}

.emptyDescription {
  min-height: 120px;
}
